@import "tailwindcss";

@plugin "@tailwindcss/typography";
/* @plugin "tailwindcss-animate" */

@theme inline {
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-space-grotesk: var(--font-spaceGrotesk);

  --color-primary-100: #fff1e6;
  --color-primary-500: #ff7000;
  --color-dark-100: #000000;
  --color-dark-200: #0f1117;
  --color-dark-300: #151821;
  --color-dark-400: #212734;
  --color-dark-500: #101012;
  --color-light-900: #ffffff;
  --color-light-800: #f4f6f8;
  --color-light-850: #fdfdfd;
  --color-light-700: #dce3f1;
  --color-light-500: #7b8ec8;
  --color-light-400: #858ead;

  --shadow-light-100:
    0px 12px 20px 0px rgba(184, 184, 184, 0.03),
    0px 6px 12px 0px rgba(184, 184, 184, 0.02),
    0px 2px 4px 0px rgba(184, 184, 184, 0.03);
  --shadow-light-200: 10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-light-300: -10px 10px 20px 0px rgba(218, 213, 213, 0.1);
  --shadow-dark-100: 0px 2px 10px 0px rgba(46, 52, 56, 0.1);
  --shadow-dark-200: 2px 0px 20px 0px rgba(39, 36, 36, 0.04);
}

@utility bg-light-850_dark-100 {
  @apply bg-light-850 dark:bg-dark-100;
}

@utility bg-light-900_dark-200 {
  @apply bg-light-900 dark:bg-dark-200;
}

@utility bg-light-900_dark-300 {
  @apply bg-light-900 dark:bg-dark-300;
}

@utility bg-light-800_dark-gradient {
  @apply bg-light-800 dark:bg-dark-gradient;
}

@utility bg-light-800_dark-400 {
  @apply bg-light-800 dark:bg-dark-400;
}

@utility bg-light-700_dark-400 {
  @apply bg-light-700 dark:bg-dark-400;
}

@utility bg-light-700_dark-300 {
  @apply bg-light-700 dark:bg-dark-300;
}

@utility bg-light-800_dark-400 {
  @apply bg-light-800 dark:bg-dark-400;
}

@utility bg-light-800_dark-300 {
  @apply bg-light-800 dark:bg-dark-300;
}

@utility bg-light-gradient {
  background: linear-gradient(
    132deg,
    rgba(247, 249, 255, 0.5) 0%,
    rgba(229, 237, 255, 0.25) 100%
  );
}

@utility bg-dark-gradient {
  background: linear-gradient(
    232deg,
    rgba(23, 28, 35, 0.41) 0%,
    rgba(19, 22, 28, 0.7) 100%
  );
}

@utility bg-primary-text-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@utility bg-primary-gradient {
  background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%);
}

@utility text-light-900_dark-100 {
  @apply text-light-900 dark:text-dark-100;
}

@utility text-dark-100_light-900 {
  @apply text-dark-100 dark:text-light-900;
}

@utility text-dark-200_light-900 {
  @apply text-dark-200 dark:text-light-900;
}

@utility text-dark-200_light-800 {
  @apply text-dark-200 dark:text-light-800;
}

@utility text-dark-300_light-700 {
  @apply text-dark-300 dark:text-light-700;
}

@utility text-dark-400_light-700 {
  @apply text-dark-400 dark:text-light-700;
}

@utility text-dark-500_light-700 {
  @apply text-dark-500 dark:text-light-700;
}

@utility text-dark-500_light-500 {
  @apply text-dark-500 dark:text-light-500;
}

@utility text-dark-300_light-900 {
  @apply text-dark-300 dark:text-light-900;
}

@utility text-dark-400_light-800 {
  @apply text-dark-400 dark:text-light-800;
}

@utility text-light-400_light-500 {
  @apply text-light-400 dark:text-light-500;
}

@utility text-dark-400_light-500 {
  @apply text-dark-400 dark:text-light-500;
}

@utility text-dark-400_light-900 {
  @apply text-dark-400 dark:text-light-900;
}

@utility text-light-400_light-500 {
  @apply text-light-400 dark:text-light-500;
}

@utility font-h1-bold {
  @apply text-[30px] leading-[42px] font-bold tracking-tighter;
}

@utility font-h2-bold {
  @apply text-[24px] leading-[31.2px] font-bold;
}

@utility font-h2-semibold {
  @apply text-[24px] leading-[31.2px] font-semibold;
}

@utility font-h3-bold {
  @apply text-[20px] leading-[26px] font-bold;
}

@utility font-h3-semibold {
  @apply text-[20px] leading-[24.8px] font-semibold;
}

@utility font-base-medium {
  @apply text-[18px] leading-[25.2px] font-medium;
}

@utility font-base-semibold {
  @apply text-[18px] leading-[25.2px] font-semibold;
}

@utility font-base-bold {
  @apply text-[18px] leading-[140%] font-bold;
}

@utility font-paragraph-regular {
  @apply text-[16px] leading-[22.4px] font-normal;
}

@utility font-paragraph-medium {
  @apply text-[16px] leading-[22.4px] font-medium;
}

@utility font-paragraph-semibold {
  @apply text-[16px] leading-[20.8px] font-semibold;
}

@utility font-body-regular {
  @apply text-[14px] leading-[19.6px] font-normal;
}

@utility font-body-medium {
  @apply text-[14px] leading-[18.2px] font-medium;
}

@utility font-body-semibold {
  @apply text-[14px] leading-[18.2px] font-semibold;
}

@utility font-small-regular {
  @apply text-[12px] leading-[15.6px] font-normal;
}

@utility font-small-medium {
  @apply text-[12px] leading-[15.6px] font-medium;
}

@utility font-small-semibold {
  @apply text-[12px] leading-[15.6px] font-semibold;
}

@utility font-subtle-medium {
  @apply text-[10px] leading-[13px] font-medium;
}

@utility font-subtle-regular {
  @apply text-[10px] leading-[13px] font-normal;
}

@utility placeholder {
  @apply placeholder:text-light-400 dark:placeholder:text-light-500;
}

@utility border-light {
  @apply border-light-800 dark:border-dark-300;
}

@utility border-light-2 {
  @apply border-light-700 dark:border-dark-400;
}

@utility invert-colors {
  @apply invert dark:invert-0;
}

@utility shadow-light-100_dark-100 {
  @apply shadow-light-100 dark:shadow-dark-100;
}

@utility shadow-light-100_dark-none {
  @apply shadow-light-100 dark:shadow-none;
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility flex-start {
  @apply flex items-center justify-start;
}

@utility card-wrapper {
  @apply bg-light-900 dark:bg-dark-gradient shadow-light-100 dark:shadow-dark-100;
}

@utility btn-primary {
  @apply bg-light-800 dark:bg-dark-300;
}

@utility btn-secondary {
  @apply bg-light-800 dark:bg-dark-400;
}

@utility btn-tertiary {
  @apply bg-light-700 dark:bg-dark-300;
}

@utility tab {
  @apply dark:bg-dark-400 bg-light-800 text-light-500 dark:data-[state=active]:bg-dark-300 data-[state=active]:bg-primary-100 data-[state=active]:text-primary-500 min-h-full;
}

@utility no-focus {
  @apply focus-visible:ring-0 focus-visible:ring-transparent focus-visible:ring-offset-0;
}

@utility active-theme {
  filter: invert(53%) sepia(98%) saturate(3332%) hue-rotate(0deg)
    brightness(104%) contrast(106%);
}

@layer base {
  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 2px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  /* ---------- Markdown Override ---------- */
  .markdown {
    @apply prose dark:prose-p:text-light-700 dark:prose-ol:text-light-700 dark:prose-ul:text-light-500 dark:prose-strong:text-white dark:prose-headings:text-white prose-headings:text-dark-400 prose-h1:text-dark-300 prose-h2:text-dark-300 prose-p:text-dark-500 prose-ul:text-dark-500 prose-ol:text-dark-500 max-w-full;
  }

  .markdown a {
    color: #1da1f2;
  }

  .markdown a,
  code {
    /* These are technically the same, but use both */
    overflow-wrap: break-word;
    word-wrap: break-word;

    -ms-word-break: break-all;
    /* This is the dangerous one in WebKit, as it breaks things wherever */
    word-break: break-all;
    /* Instead use this non-standard one: */
    word-break: break-word;

    /* Adds a hyphen where the word breaks, if supported (No Blink) */
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;

    padding: 2px;
    color: #ff7000 !important;
  }

  .markdown pre {
    display: grid;
    width: 100%;
  }

  .markdown pre code {
    width: 100%;
    display: block;
    overflow-x: auto;

    color: inherit !important;
  }

  /* ---------- Clerk Override ---------- */
  .cl-internal-b3fm6y {
    background: linear-gradient(129deg, #ff7000 0%, #e2995f 100%) !important;
  }

  .hash-span {
    margin-top: -140px;
    padding-bottom: 140px;
    display: block;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
